
.homepage{
    padding: 5px;
    border-width: 1px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.webshop{
    padding: 5px;
    border-width: 1px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.reparatie{
    padding: 5px;
    border-width: 1px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.information{
    padding: 5px;
    border-width: 1px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 20px;
}
.homepage:hover {
    border-style: solid;
    border-width: 1px;
    border: rgb(41, 6, 197);
    color: rgb(41, 6, 197);
    transition: 0.5s;
}

.webshop:hover {
    border-style: solid;
    border-width: 1px;
    border: rgb(41, 6, 197);
    color: rgb(41, 6, 197);
    transition: 0.5s;
}
.reparatie:hover {
    border-style: solid;
    border-width: 1px;
    border: rgb(41, 6, 197);
    color: rgb(41, 6, 197);
    transition: 0.5s;
}
.informatie:hover {
    border-style: solid;
    border-width: 1px;
    border: rgb(41, 6, 197);
    color: rgb(41, 6, 197);
    transition: 0.5s;
}

.chick {
    display: inline-block;
    left: 96px;
    width: 500px;
    bottom: 70px;
    box-shadow: 4px 2px 2px rgb(0 0 0 / 0.2);
}

.informatie{
    display: inline-block;
    left: 96px;
    width: 500px;
    bottom: 70px;
    
}
a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
}

.nieuws:hover{
    border-style: solid;
    border-width: 1px;
    border: rgb(41, 6, 197);
    color: rgb(41, 6, 197);
    transition: 0.5s;
}
.information:hover{
    border-style: solid;
    border-width: 1px;
    border: rgb(41, 6, 197);
    color: rgb(41, 6, 197);
    transition: 0.5s;
}




.refproducten{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
}

.refproducten:hover{
    border-style: solid;
    border-width: 1px;
    border: rgb(41, 6, 197);
    color: rgb(41, 6, 197);
    transition: 0.5s;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    text-align: center;
  }
  
  .card button {
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 25px;
  }
  
  .card button:hover {
    opacity: 0.7;
    
  }
.logoo{
    display: inline-block;
    width: 10px;
    padding: 20px;
    margin-left: 10px;
}
.search{
    position: relative;
    bottom: 50px;
    left: 50px;
    display: inline-block;
    background-color: rgb(0, 0, 0);
}
.input-search{
    border-radius: 0px;
    
}
.list{
    position: relative;
    bottom: 50px;
    left: 100px;
    display: inline-block;
    margin-right: 290px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
}

.headnews1{
    font-family: Arial, Helvetica, sans-serif;
}
.p1{
    font-family: Arial, Helvetica, sans-serif;
}
.headnews2{
    font-family: Arial, Helvetica, sans-serif;
}
.p2{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 1300px;
    display: inline-block;
    position: fixed;
    background-color: rgb(255, 255, 255);
    padding-bottom: 0px;
    padding-top: 0px;
  }
.content1{
      display: inline-block;
      justify-content: space-around;
      padding: 20px;
      margin-top: 100px;
}

.content2{
    display: inline-block;
    justify-content:space-around;
    margin-left: 100px;
    position: relative;
    bottom: 100px;
}

.content3{
    display: inline-block;
    
      
}

.content4{
    position: relative;
    bottom: 100px;
    left: 20px;
    display: inline-block;
    justify-content:space-around;
    margin-right: 150px;

}

footer{
    background: #111;
    color: #fff;
    width: 1300px;
    margin-left: 1px;
}

.logo1 {
    display: inline-block;
    margin-right: 200px;
}
.searchh{
    display: inline-block;
}

html {
    scroll-behavior: smooth;
  }

.allbeyondreparatie{
    display: inline-block;
    justify-content: space-around;
    padding: 20px;
    margin-top: 120px;
    font-family: Arial, Helvetica, sans-serif;
}

.burgerschap{
    padding: 5px;
    border-width: 1px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.burgerschap:hover {
    border-style: solid;
    border-width: 1px;
    border: rgb(41, 6, 197);
    color: rgb(41, 6, 197);
    transition: 0.5s;
}