* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #000000;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(73, 53, 53, 0.75), rgba(0, 0, 0, 0.75)),
    url(./images/Main-Background.jpg);
  background-size: cover;
  background-position: center;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  padding-top: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 180px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 70px;
  margin-top: 80px;
}

.content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.buybutton {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.repairbutton {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

button:hover span {
  width: 100%;
}

button:hover {
  border: none;
}

/* informatie forum */

.head-par-info1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  border-radius: 5px;
  padding-left: 217px;
  padding-right: 177px;
  margin-top: 136px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

input[type="submit"] {
  background-color: #000000;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #817a7a;
}

.header-titel {
  font-size: 50px;
  padding-bottom: 40px;
}

.par-titel {
  font-size: 20px;
  text-align: center;
}

.par-titel-2 {
  font-size: 20px;
  text-align: center;
}

label {
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
}

/* dropdown */

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 5px;
  font-size: 15px;
  border-color: #009688;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #787171;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #a4a4a4
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #009688;
}

/* toegevoegd voor shoppagina */

.xboxproductsbox {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.leftemptyspace {
  display: flex;
  flex: 1;
  height: auto;
}

.rightemptyspace {
  display: flex;
  flex: 1;
  height: auto;
}

.menuspace {
  display: flex;
  flex: 1.3;
  background-color: white;
}

.boxproductsbox {
  display: flex;
  flex: 5;
  flex-direction: column;
  justify-content: space-evenly;
}

.productsbox {

  width: 100%;
  height: 265px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.products {
  width: 230px;
  background-color: #009688;
  border-radius: 9px;
  text-align: center;
  text-decoration: none;
  /* border-style: solid;
    border-width: thin;
    border-radius: 5px; 
    border-color: rgb(150, 161, 161); */
  transition: transform .9s ease;

}

.products:hover {
  cursor: pointer;
  transform: scale(1.1);
  overflow: hidden;
}

.products-image {
  width: 230px;
  height: 230px;
  border-style: none;
  background-color: white;
  border-radius: 9px 9px 0 0;
}

.products-text1 {
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  color: white;
}

hr {
  border-top: #009688;
}

.specific-productbox {

  width: 100%;
  height: auto;
  display: flex;
  flex: 6;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  /*background-color: aqua;*/
}

.leftemptyspace-specific {
  display: flex;
  flex: 1;
  height: auto;
  background-color: white;
}

.rightemptyspace-specific {
  display: flex;
  flex: 1;
  height: auto;
  background-color: white;
}

.specific-product {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 20px;
  background-color: white;
  /*background-color: rgb(60, 231, 38); */
  text-decoration: none;
  /* border-style: solid;
  border-width: thin;
  border-radius: 5px; 
  border-color: rgb(150, 161, 161); */

}

.specific-product-image {
  width: 200px;
  height: 200px;
  border-style: none;
  background-color: white;
}

.product-text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;

}

.product-brand {
  margin: 12px;
  font-size: 15px;
}

.product-name {
  margin-left: 12px;
  margin-bottom: 12px;
  font-weight: bold;
}

.product-description {
  margin-left: 12px;
  font-size: 15px;
}

.rating {
  margin: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
}

.product-text2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
}

.product-text2 svg {
  height: 2rem;
  margin: 9px;
  color: blue;
}

.shoppingcart {
  height: 3rem;
}

.pay-icons {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  margin-top: 10px;
}

.product-price {
  color: red;
  font-weight: bold;
  font-size: 25px;
  margin: 15px;
}

.product-availability {
  color: rgb(30, 200, 30);
  margin-left: 15px;
  padding: 3px;
  font-size: 15px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(30, 200, 30);
}

.product-availability2 {
  color: rgb(30, 200, 30);
  margin-left: 15px;
  margin-top: 3px;
  font-size: 15px;
}

/* toegevoegd voor burgerschap */

.burgerschapbox {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  padding: 30px;
}

.burgerschap1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-weight: 900;
}

.burgerschap2 {
  font-size: 1.125rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.burgerschap3 {
  height: 420px;
  width: 700px;
}

.burgerschap2 li {
  font-size: 1.125rem;
  margin-left: 22px;
  margin-top: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

.burgerschap2 a {
  font-weight: bold;
  color: black;
}

.burgerschap2 a:hover {
  color: teal;
  transition: 0.5s;
}

/* toegevoegd voor reparatiepagina */

.uwu {
  width: 500px;
  height: 500px;

}
