#list {
    position: relative;
    left:250px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    padding: 10px 500px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#search {
    position: relative;
    display: flex;
    left: 1100px;
    bottom: 45px;
    height: 21px;
}

.logo{
    position: relative;
    width: 150px;
    bottom: 80px;

}